body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: white;
    width: 760px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    width: 220px;
    margin: 10px;
}

button {
    padding: 10px 18px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.logout-btn {
    margin-bottom: 20px;
    background: crimson;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    word-wrap: break-word;
}

th {
    background: #f0f0f0;
    font-weight: bold;
}

td button {
    min-width: 95px;
    padding: 8px 12px;
    margin: 3px;
    white-space: nowrap;
}

#welcomeUser {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

td {
    overflow-wrap: anywhere;
}